<div class="white-panel pn donut-chart auto-scale">
      <div class="white-header">
			<h5>Users research</h5>
      </div>
		<div class="row" id="userSearch" style ="margin:auto; margin-top:0px;">
			<div class="col-sm-12 col-xs-12 boxContent"  style="height: auto; width:98%">
			<br/>
			
			<form id="form_full_page" class="FormBar">
				{{ form_label(form.Matricule) }}
          		{{ form_errors(form.Matricule) }}
          		{{ form_widget(form.Matricule) }}

          		{{ form_label(form.FirstName) }}
          		{{ form_errors(form.FirstName) }}
          		{{ form_widget(form.FirstName) }}

          		{{ form_label(form.LastName) }}
          		{{ form_errors(form.LastName) }}
          		{{ form_widget(form.LastName) }}

          		{{ form_label(form.TypeProfil) }}
          		{{ form_errors(form.TypeProfil) }}
          		{{ form_widget(form.TypeProfil) }}

          		<div class="submit">
						{{ form_widget(form.Search, { 'attr': {'class': 'btn btnT1'} }) }}
				</div>
				
				{{ form_rest(form) }}
				</form>
				
				<br/>
				
				<table>
    				<tr>
    					<th> Matricule </th><th> FirstName </th><th> LastName </th><th> Departement </th><th> User Start Date</th><th> Sector </th><th> Type Profil </th><th> Action </th>
    					{% for user in user_array %}
        					<tr>
        						<td>{{ user.Matricule }}</td>
        						<td>{{ user.FirstName }}</td>
        						<td>{{ user.LastName }}</td>
        						<td>{{ user.Departement }}</td>
        						<td>{{ user.UserStartDate }}</td>
        						<td>{{ user.FK_Sector_id }}</td>
        						<td>{{ user.FK_TypeProfil_id }}</td>
        						<td>
        							<a class = "btn btnT1" href="{{ user.delete }}" onclick="return confirm('Delete {{ user.Matricule }} ?')"> Delete </a>
        							<a class = "btn btnT1" href="{{ user.edit }}"> Edit </a>
        						</td>
        					</tr>
    					{% endfor %}
    				</tr>
				</table>
				
			</div>
	    </div>
</div>

				
			
